.cc{
    font-family:'Times New Roman', Times, serif;
    margin-left: 70px;
    padding-top: 25px;
    font-size: 23px;
}

.sidebar {
    width: 10%;
    padding: 20px;
    background-color: #ffffff;
    border-right: 1px solid #000000;
    margin-top: 20px;
}

.sidebar h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 8px;
}

.card{
    position: relative;
    margin-left: 35px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card-body {
    padding-bottom: 50px;
}

.card-container1 {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px;
}

.card-img-top {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.btn{
    position: absolute;
    bottom: 10px;
    left: 75%;
    transform: translateX(-50%);
    width: max-content;
}

.child {
    margin-left: 15px;
    cursor: pointer;
}
.sidebar a{
    text-decoration: none;
    color: black;
    
 }
 .sidebar a:hover{
    
     border-radius: 10px;
     margin-left: 10px;
     margin-right: 10px;
    
   }