<p class="cc">Catalogue/Bébé/Fille/Accessoires</p>

<div class="card-container1">
    <div class="sidebar">
        <div class="categories">
            <h3>CATEGORIES:</h3>
            <ul class="child">
                <li routerLink="/accessoire-bebe-fille">ACCESSOIRES</li>
                <li routerLink="/sac-bebe-fille">SACS</li>
                <li>VÊTEMENTS
                    <ul class="child">
                        <li routerLink="/pull-bebe-fille">Pulls</li>
                        <li routerLink="/complet-bebe-fille">Complets </li>
                        <li >Manteaux & Vestes</li>
                        <li >Shorts</li>
                        <li>chemises</li>
                        <li>Pantalons</li>
                        <li>Sous-Vêtements</li>
                        <li >Jeans</li>
                        <li>Tee shirts & Polos</li>
                    </ul>
                </li>
            </ul>
            
        </div>
        <div class="creators">
            <h3>CRÉATEURS:</h3>
            <ul>
            </ul>
        </div>
    </div>
    <div class="card" style="width: 30rem;">
        <img src="assets/images/accessoire-bebe-fille1.png" class="card-img-top" alt="accessoire bébé fille" [routerLink]="['/achat_hors_vetement', '50m111022']">
        <div class="card-body">
            <h5 class="card-title">ACCESSOIRE bébé FILLE:</h5>
            <p class="card-text"> Barrette cheveux fille, chouchou, élastique - Le petit Souk</p>
            <p>Référence: 50m111022</p>
            <p>Prix: 25DT</p>
            <p>Couleurs disponible: Beige, Noir, Rouge, Blanc</p>
            <p>Taille: Unique </p>
            <div class="btn">
                <button class="btn btn-outline-secondary" routerLink="/paniersproduits">Ajouter au panier</button>
            </div>
        </div>
    </div>
    <div class="card" style="width: 30rem;">
        <img src="assets/images/accessoire-bebe-fille2.png" class="card-img-top" alt="accessoire bébé fille  " [routerLink]="['/achat_hors_vetement', 'mml55555']">
        <div class="card-body">
            <h5 class="card-title">ACCESSOIRE Bébé FILLE:</h5>
            <p class="card-text">Accessoires  fille  pour nouveau né</p>
            <p>Référence: mml55555</p>
            <p>Prix: 29.900DT</p>
            <p>Couleurs disponible: Blanc, Noir , Bleu, Violet, Rose</p>
            <p>Taille: Unique </p>
            <div class="btn">
                <button class="btn btn-outline-secondary" routerLink="/paniersproduits">Ajouter au panier</button>
            </div>
        </div>
    </div>


    <div class="card" style="width: 30rem;">
        <img src="assets/images/accessoire-bebe-fille3.png" class="card-img-top" alt="accessoire bébé enfant" [routerLink]="['/achat_hors_vetement', 'llpo99912']">
        <div class="card-body">
            <h5 class="card-title">ACCESSOIRE Bébé FILLE:</h5>
            <p class="card-text">Accessoires  fille  pour nouveau né</p>
            <p>Référence: llpo99912</p>
            <p>Prix: 29DT</p>
            <p>Couleurs disponible: Beige, Noir, Blanc, Bleu</p>
            <p>Taille: Unique</p>
            <div class="btn">
                <button class="btn btn-outline-secondary" routerLink="/paniersproduits">Ajouter au panier</button>
            </div>
        </div>

        <div *ngFor="let item of produit " class="card" style="width: 30rem;">
            <img [src]="item.image_url" class="card-img-top" alt="Image du produit" >
            <div class="card-body">
                <h5 class="card-title">{{item.nom-produit}}</h5>
                <p class="card-text">{{item.description}}</p>
                <p>Référence:{{item.references}}</p>
                <p>Prix:{{item.prix}}€</p>
                <p>Couleur{{item.couleurs}}</p>
                <p>Tailles:{{item.tailles}}</p>
                <div class="btn">
                    <button class="btn btn-outline-secondary" (click)="ajouteraupanier(item.id, 1)">Ajouter au panier</button>
                </div>
            </div>
    
    </div>
</div>

