
<div class="product-page">
    <div class="product-image">
      <img src="path-to-your-image.jpg" alt="product image" />
    </div>
    <div class="vertical-line"></div>
      <div class="product-options">
        <div class="tab-container">
          <button class="tab active">NORMAL</button>
          <button class="tab">ROTATION</button>
          <button class="tab">SON</button>
        </div>
        
        <div class="product-details">
            <div class="product-info">
              <h1>Product Title</h1>
              <p>Product Description</p>
              <p>Price: 100 DT</p>
            </div>
        
        <div class="dropdown-container">
          <label for="size">GUIDES DES TAILLES</label>
          <select id="size" name="size">
            <option value="L">L - Deux articles restants</option>
            <option value="L">M - trois article restants</option>
            <option value="L">S - quatre articles restants</option>
          </select>
        </div>
      </div>
  
      <div class="actions">
        <button class="btn-add">AJOUTER UN AUTRE</button>
        <button class="btn-checkout" routerLink="/payement">PROCEDER AU PAIEMENT</button>
      </div>
  
      <div class="description">
        <h3>DESCRIPTION</h3>
        <p>Le mannequin mesure 187 cm et porte une taille L</p>
        <ul>
          <li>100% cotton</li>
          <li>Col montant</li>
          <li>Manches larges</li>
          <li>Fabriqué en Italie</li>
          <li>Nettayage à 40°C</li>
        </ul>
      </div>
    </div>
  </div>
  