<!-- <h1 mat-dialog-title>Modifier le produit</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Produit</mat-label>
    <input matInput [(ngModel)]="data.produit_id" readonly>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Taille</mat-label>
    <input matInput [(ngModel)]="data.taille">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Couleur</mat-label>
    <input matInput [(ngModel)]="data.couleur">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Quantité</mat-label>
    <input matInput [(ngModel)]="data.quantite" type="number">
  </mat-form-field>
</div>
<div mat-dialog-actions>

    <button mat-button (click)="onNoClick()">Annuler</button>
    <button mat-button (click)="onSave()">Sauvegarder</button>


</div> -->
