<p class="cc">Catalogue/Bébé/Garçon/Sacs</p>

<div class="card-container1">
    <div class="sidebar">
        <div class="categories">
            <h3>CATEGORIES:</h3>
            <ul class="child">
                <li routerLink="/sac-bebe-garcon">SACS</li>
                <li>VÊTEMENTS
                    <ul class="child">
                        <li routerLink="/pull-bebe-garcon">Pulls</li>
                        <li routerLink="/complet-bebe-garcon">Complets</li>
                        <li>Jeans</li>
                        <li>Shorts</li>
                        <li >Manteaux & Vestes</li>
                        <li>chemises</li>
                        <li>Pantalons</li>
                        <li>Sous-Vêtements</li>
                        <li>Tee shirts & Polos</li>
                    </ul>
                </li>
            </ul>
            
        </div>
        <div class="creators">
            <h3>CRÉATEURS:</h3>
            <ul>
            </ul>
        </div>
    </div>
    <div class="card" style="width: 30rem;">
        <img src="assets/images/sac-bebe-garcon1.png" class="card-img-top" alt="sac bebe garçon" [routerLink]="['/achat_hors_vetement', 'nnp7845']">
        <div class="card-body">
            <h5 class="card-title">SAC Bébé:</h5>
            <p class="card-text"> Sac tendance pour nouveau né</p>
            <p>Référence: nnp7845</p>
            <p>Prix: 39.900DT</p>
            <p>Couleurs disponible: Bleu, Noir, Beige</p>
            <p>Taille: UNIQUE </p>
            <div class="btn">
                <button class="btn btn-outline-secondary" routerLink="/paniersproduits">Ajouter au panier</button>
            </div>
        </div>
    </div>
    <div class="card" style="width: 30rem;">
        <img src="assets/images/sac-bebe-garcon2.png" class="card-img-top" alt="sac bebe garçon " [routerLink]="['/achat_hors_vetement', 'kk33341155']">
        <div class="card-body">
            <h5 class="card-title">SAC Bébé:</h5>
            <p class="card-text">Sac tendance pour nouveau né </p>
            <p>Référence: kk33341155</p>
            <p>Prix: 39.900DT</p>
            <p>Couleurs disponible: Blanc, Noir , Bleu</p>
            <p>Taille: UNIQUE </p>
            <div class="btn">
                <button class="btn btn-outline-secondary" routerLink="/paniersproduits">Ajouter au panier</button>
            </div>
        </div>
    </div>


    <div class="card" style="width: 30rem;">
        <img src="assets/images/sac-bebe-garcon3.png" class="card-img-top" alt="sac bebe garçon " [routerLink]="['/achat_hors_vetement', 'p001399912']">
        <div class="card-body">
            <h5 class="card-title">SAC Bébé:</h5>
            <p class="card-text">Sac tendance pour nouveau né</p>
            <p>Référence: p001399912</p>
            <p>Prix: 35DT</p>
            <p>Couleurs disponible: Beige, Noir, Blanc, Bleu</p>
            <p>Taille: UNIQUE</p>
            <div class="btn">
                <button class="btn btn-outline-secondary" routerLink="/paniersproduits">Ajouter au panier</button>
            </div>
        </div>

        <div *ngFor="let item of produit " class="card" style="width: 30rem;">
            <img [src]="item.image_url" class="card-img-top" alt="Image du produit" >
            <div class="card-body">
                <h5 class="card-title">{{item.nom-produit}}</h5>
                <p class="card-text">{{item.description}}</p>
                <p>Référence:{{item.references}}</p>
                <p>Prix:{{item.prix}}€</p>
                <p>Couleur{{item.couleurs}}</p>
                <p>Tailles:{{item.tailles}}</p>
                <div class="btn">
                    <button class="btn btn-outline-secondary" (click)="ajouteraupanier(item.id, 1)">Ajouter au panier</button>
                </div>
            </div>
    
    </div>
</div>

