.container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 5%;
}

.container a {
  margin: 0 15px;
  color: black;
  text-decoration: none;
}

.container button {
  margin: 0 15px;
  color: white;
  background-color: #dc3545;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.container button:hover {
  background-color: #c82333;
}

.sidebar {
  width: 250px; /* Ajustez la largeur selon vos besoins */
  padding: 20px;
  background-color: #f8f9fa; /* Couleur de fond plus claire */
  border-right: 1px solid #dee2e6; /* Couleur plus claire pour la bordure */
  margin-top: 30px;
  float: left; /* Place la sidebar à gauche */
}

.sidebar h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.sidebar li {
  margin-bottom: 10px;
  list-style-type: none;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #e9ecef; /* Couleur de fond au survol */
  border-radius: 5px;
  padding: 5px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin-left: 270px; /* Pour éviter le chevauchement avec la sidebar */
}

.product-item {
  width: calc(25% - 20px); /* Ajustez pour l'espacement entre les articles */
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Ombre légère pour les produits */
}

.product-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-details {
  padding: 10px;
}

.btn-primary {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #218838;
}
.sidebar li {
  position: relative;
  margin-bottom: 10px;
  list-style-type: none;
  cursor: pointer;
}

.sidebar li > span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar li .fa-chevron-down {
  display: none;
}

.sidebar li.show .fa-chevron-down {
  display: inline;
}

.sidebar li .fa-chevron-up {
  display: inline;
}

.sidebar li.show .fa-chevron-up {
  display: none;
}

ul ul {
  display: none;
  padding-left: 20px;
}

ul.show {
  display: block;
}
