<!-- Barre de navigation -->
<nav class="navbar">
  <a (click)="loadProduitsParGenre(1)" class="nav-link">Femme</a>
  <a (click)="loadProduitsParGenre(2)" class="nav-link">Homme</a>
  <a (click)="loadProduitsParGenre(3)" class="nav-link">Enfant</a>
  <a (click)="loadProduitsParGenre(4)" class="nav-link">Bébé</a>
</nav>

<!-- Affichage des produits -->
<div class="product-grid">
  <div *ngFor="let produit of filteredProduits" class="product-item">
    <div class="product-image">
      <a [routerLink]="['/produit', produit.id]">
        <img [src]="getImageUrl(produit.image_url)" alt="{{ produit.nom_produit }}" />
      </a>
    </div>
    <div class="product-details">
      <h4>{{ produit.nom_produit }}</h4>
      <p>{{ produit.description }}</p>
      <p>Prix: {{ produit.prix }} TND</p>

      <button class="btn btn-primary" (click)="addToCart(produit)">Ajouter au panier</button>
    </div>
  </div>
</div>
