<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <h2 class="navbar-brand" [routerLink]="['/accueil']" style="cursor: pointer;">Zacollection</h2>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Vous pouvez ajouter d'autres éléments de menu ici si nécessaire -->
      </ul>
      <form class="d-flex search-form" role="search">
        <input class="form-control search-input" type="search" placeholder="Rechercher" aria-label="Search">
        <button class="btn search-button" type="submit">Recherche</button>
      </form>
      <span class="navbar-text">
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">

            <a [routerLink]="['messagerie']">
              <i class='bx bxs-envelope dd' style="font-size: 20px; margin-right: 10px;"></i>
            </a>
            <li class="nav-item dropdown">
              <a [routerLink]="['panier']"><i class='bx bxs-basket dd' style="font-size: 20px;"></i></a>

              <button class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                COMPTE
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="historique">Mon compte</a></li>
                <li><a class="dropdown-item" routerLink="compte">Se connecter</a></li>
                <li><a class="dropdown-item" routerLink="compte">S'inscrire</a></li>                <li><a class="dropdown-item" routerLink="compte">S'inscrire</a></li>
                <li><a class="dropdown-item" (click)="onLogout()">se deconnecter</a></li>

              </ul>
            </li>
          </ul>
        </div>
      </span>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<br><br><br>
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Contenu du footer (inchangé) -->
</footer>
