<div class="space">
    <div class="space">
        <div class="sidebar" id="sidebar" >
            <ul class="nav sidebar-nav">
              <div class="sidebar-header">
              <div class="sidebar-brand">
                <a href="#">COMPTE</a></div></div>
              <li><a href="#home">Informations de connexion</a></li> 
              <li><a href="#about">Préférence de contact</a></li>
              <li><a href="#events">Historique d'achat</a></li> 
              <li><a href="#team">Adresse de livraison</a></li>
              <li><a href="#team">Nous contacter</a></li>
    
    
    
    
    
           

    
      
        
        
  

                 
                  
                  
    
    
    



              
  
 
  
