<div class="container">
    <a [routerLink]="['/femme']">Femme</a>
    <button class="btn btn-danger">Homme</button>
    <a [routerLink]="['/enfant']">Enfant</a>
    <a [routerLink]="['/bebe']">Bébé</a>
</div>
<main id="main-content" class="NaNa DPR">

    <div class="sidebar">
        <div class="categories">
            <h3>CATEGORIES:</h3>
            <ul class="child">
                <li [routerLink]="[]" fragment="vetements" style="cursor: pointer;">VÊTEMENTS</li>
                <li [routerLink]="[]" fragment="sacs" style="cursor: pointer;">SACS</li>
            </ul>
        </div>
        <div class="NaNa f_EK __65ye">

        
            <div id="vetements">
                <a [routerLink]="['/pull-homme']"><img src="assets/img2.jpg" class="gg" alt="Vêtements"></a>
            </div> <br><br>

            <div id="sacs">
                <a [routerLink]="['/sac-homme']"><img src="assets/img2.jpg" class="gg" alt="Sacs"></a>
            </div>
        </div>
    </div>

</main>