<div class="space">
  <div class="space">
    <div class="sidebar" id="sidebar">
      <ul class="nav sidebar-nav">
        <div class="sidebar-header">
          <div class="sidebar-brand">
            <br>
            <br>

            <!-- <a href="#">COMPTE</a> -->
            <br>

          </div>
        </div>
        <br>

        <li><a href="consulter">Informations de connexion</a></li>
        <li><a href="modifiercoordonne">Modifer mon profil</a></li>
        <li><a href="#events">Historique d'achat</a></li>
        <!-- <li><a href="#team">Adresse de livraison</a></li> -->
        <li><a href="messages">Nous contacter</a></li>
