<div class="container">
   
    <a [routerLink]="['/femme']">Femme </a>
    <button class="btn btn-danger">Homme</button>
    <a [routerLink]="['/enfant']">Enfant</a>
    <a [routerLink]="['/bebe']">Bébé</a>
</div>
<main id="main-content" class="NaNa DPR">
    <div class="NaNa FsQj __65ye">

    </div>
<aside class="NaNa __1_FI hh">
    <h4>Catégories</h4> <br><br>
    
       <a [routerLink]="[]" fragment="accessoires">Accessoires</a>  <br> <br> 
       <a [routerLink]="[]" fragment="vetements">Vetements</a> <br> <br>
       <a [routerLink]="[]" fragment="sacs">Sacs</a>
    
    
</aside>
<div class="NaNa f_EK __65ye">
    <div id="accessoires">
        <a href=""><img src="assets/img2.jpg" class="gg" alt="Accessoires"></a>
     </div> <br><br>
    
     <div id="vetements">
        <a href=""><img src="assets/img2.jpg" class="gg" alt="Vêtements"></a>
     </div> <br><br>
     <div id="sacs">
       <a href=""><img src="assets/img2.jpg" class="gg" alt="Sacs"></a> 
     </div> 
</div>

</main>
