<p class="cc">Catalogue/Femme/Chemises</p>

<div class="card-container1">
    <div class="sidebar">
        <div class="categories">
            <h3>CATEGORIES:</h3>
            <ul class="child">
                <li routerLink="/accessoire">ACCESSOIRES</li>
                <li routerLink="/sacs">SACS</li>
                <li>VÊTEMENTS
                    <ul class="child">
                        <li routerLink="/chemise-femme">chemises</li>
                        <li routerLink="/manteau-vestes-femme">Manteaux & Vestes</li>
                        <li routerLink="/pull-femme">Pulls</li>
                        <li>Complets & Blazers</li>
                        <li>Jeans</li>
                        <li>Pantalons</li>
                        
                        <li>Shorts</li>
                        <li>Sous-Vêtements</li>
                        <li>Tee shirts & Polos</li>
                    </ul>
                </li>
            </ul>
            
        </div>
        <div class="creators">
            <h3>CRÉATEURS:</h3>
            <ul>
            </ul>
        </div>
    </div>
    <div class="card" style="width: 30rem;">
        <img src="assets/images/chemise_femme_1.png" class="card-img-top" alt="chemise-femme" [routerLink]="['/achat_vetement', '31224852']">
        <div class="card-body">
            <h5 class="card-title">CHEMISE:</h5>
            <p class="card-text"> Chemise femme tendance</p>
            <p>Référence: 31224852</p>
            <p>Prix: 80DT</p>
            <p>Couleurs disponible: Beige, Noir, Rouge, Blanc</p>
            <p>Taille: L, M, S, XL, XS </p>
            <div class="btn">
                <button class="btn btn-outline-secondary" routerLink="/paniersproduits">Ajouter au panier</button>
            </div>
        </div>
    </div>
    <div class="card" style="width: 30rem;">
        <img src="assets/images/chemise_femme_2.png" class="card-img-top" alt="chemise femme " [routerLink]="['/achat_vetement', '711224852']">
        <div class="card-body">
            <h5 class="card-title">CHEMISE SATIN:</h5>
            <p class="card-text">Chemise femme tendance </p>
            <p>Référence: 711224852</p>
            <p>Prix: 100DT</p>
            <p>Couleurs disponible: Blanc, Noir , Bleu</p>
            <p>Taille: L, M, S, XL, XS  </p>
            <div class="btn">
                <button class="btn btn-outline-secondary" routerLink="/paniersproduits">Ajouter au panier</button>
            </div>
        </div>
    </div>


    <div class="card" style="width: 30rem;">
        <img src="assets/images/chemise_femme_3.png" class="card-img-top" alt="chemise femme" [routerLink]="['/achat_vetement', '91224852']">
        <div class="card-body">
            <h5 class="card-title">CHEMISE:</h5>
            <p class="card-text">Chemise femme tendance</p>
            <p>Référence: 91224852</p>
            <p>Prix: 40DT</p>
            <p>Couleurs disponible: Beige, Noir, Blanc, Bleu</p>
            <p>Taille: L, M, S, XL, XS</p>
            <div class="btn">
                <button class="btn btn-outline-secondary" routerLink="/paniersproduits">Ajouter au panier</button>
            </div>
        </div>
    </div>
</div>

