<div class="product-page">
  <div class="product-image">
    <img [src]="produit?.image_url" alt="product image" />
    <div class="product-images">
      <div *ngFor="let image of imagesDisponibles">
        <img [src]="image" alt="Product Image" class="product-image" />
      </div>
    </div>
  </div>

  <div class="vertical-line"></div>

  <div class="product-options">
    <div class="tab-container">
      <button class="tab" (click)="rotateImage()">ROTATION</button>
      <button class="tab" (click)="flashImage()">FLASH</button>
      <button class="tab" (click)="toggleZoom()">ZOOM</button>
    </div>

    <div class="product-details">
      <div class="product-info">
        <h1>{{ produit?.nom_produit }}</h1>
        <p>{{ produit?.description }}</p>
        <p>Prix: {{ produit?.prix }} DT</p>
      </div>

      <div class="product-selections">
        <h3>Sélectionner les tailles, couleurs et quantités</h3>
        <div *ngFor="let selection of selections; let i = index">
          <div class="product-quantity">
            <label for="quantity">Quantité :</label>
            <input type="number" id="quantity" [(ngModel)]="selection.quantite" min="1" />
          </div>

          <div class="dropdown-container">
            <label for="size">Taille :</label>
            <select id="size" [(ngModel)]="selection.taille">
              <option *ngFor="let taille of taillesDisponibles" [value]="taille.nom">
                {{ taille.nom }} - {{ taille.quantite }} articles restants
              </option>
            </select>
          </div>

          <div class="dropdown-container">
            <label for="color">Couleur :</label>
            <select id="color" [(ngModel)]="selection.couleur">
              <option *ngFor="let couleur of couleursDisponibles" [value]="couleur.nom">
                {{ couleur.nom }}
              </option>
            </select>
          </div>

          <button class="btn-remove" (click)="supprimerSelection(i)">Supprimer cette sélection</button>
        </div>

        <button class="btn-add-selection" (click)="ajouterNouvelleSelection()">Ajouter une autre sélection</button>
      </div>

      <div class="actions">
        <button class="btn-add" (click)="mettreAJourProduitDansPanier()">mettre a jour </button>
        <button class="btn-checkout" routerLink="/payement">PROCEDER AU PAIEMENT</button>
      </div>

      <div class="description">
        <h3></h3>
        <p></p>
      </div>
    </div>
  </div>
</div>
